In [63]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

In [65]:
import glob
import pandas as pd
from datetime import datetime

In [66]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2022-09-17 12:31:50--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json.1’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2022-09-17 12:31:52 (21.7 MB/s) - ‘bank_market_cap_1.json.1’ saved [2815/2815]

--2022-09-17 12:31:52--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json.1’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2022-09-17 12:31:54 (6.27 MB/s) - ‘bank_market_cap_2.json.1’ saved [1429/1429]

--2022-09-17 12:31:55--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv.1’

exchange_rates.csv. 100%[===================>]     590  --.-KB/s    in 0s

2022-09-17 12:31:56 (4.15 MB/s) - ‘exchange_rates.csv.1’ saved [590/590]

In [69]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

In [70]:
bmc = extract_from_json('bank_market_cap_1.json')
columns = ['Name','Market_Cap (US$ Billion)']

In [71]:
bmc

                                       Name  Market Cap (US$ Billion)
0                            JPMorgan Chase                   390.934
1   Industrial and Commercial Bank of China                   345.214
2                           Bank of America                   325.331
3                               Wells Fargo                   308.013
4                   China Construction Bank                   257.399
..                                      ...                       ...
65                             Ping An Bank                    37.993
66                       Standard Chartered                    37.319
67                     United Overseas Bank                    35.128
68                                QNB Group                    33.560
69                              Bank Rakyat                    33.081

[70 rows x 2 columns]

In [72]:
def extract():
   extracted_data = pd.DataFrame(columns= ['Name','Market Cap (US$ Billion)'])

   for jsonfile in glob.glob("*_1.json"):
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
        
        return extracted_data

In [73]:
#Loading the exchange_rates.csv as a dataFrame  
er = pd.read_csv("exchange_rates.csv", index_col= 0)
er = pd.DataFrame(er)

# Displaying the first five rows
er.head(5)

        Rates
AUD  1.297088
BGN  1.608653
BRL  5.409196
CAD  1.271426
CHF  0.886083

In [74]:
#finding the exchange rate
exchange_rate = float(er.loc['GBP'])
type(exchange_rate)
exchange_rate

0.7323984208000001

In [75]:
# TRANSFORMATION

# Changing the Marketcap FROM USD to GB
# Rounding the market cap to 3 decimals
#Renaming the marketcap (US$ Billion ) to Marketcap(GBP$ Billion)

def transform(extracted_data):
    extracted_data['Market Cap (US$ Billion)']= round(extracted_data['Market Cap (US$ Billion)']*exchange_rate,3)
    extracted_data.rename(columns ={'Market Cap(US$ Billion)':'Market Cap (GBP$ Billion)'}, inplace = True)
    return extracted_data

In [76]:
                    # LOADING


targetfile = "bank_market_cap_gbp.csv"  # file where transformed data is stored

def load(targetfile,data_to_load):
    data_to_load.to_csv(targetfile, index= False)

In [77]:
#Logging Entries

def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp =now.strftime(timestamp_format)
    with open ("logfile.txt", "a") as f:
        f.write(timestamp  + ',' + message + '\n')

In [78]:
#RUNNING THE ETL PROCESS

log("ETL Job started")
log("Extract phase Started")

In [79]:
# printing some of the rows
transformed_data = transform(extracted_data)
log("Transform phase Ended")
transformed_data

                                       Name  Market Cap (US$ Billion)
0                            JPMorgan Chase                   209.700
1   Industrial and Commercial Bank of China                   185.175
2                           Bank of America                   174.510
3                               Wells Fargo                   165.220
4                   China Construction Bank                   138.071
..                                      ...                       ...
65                             Ping An Bank                    20.380
66                       Standard Chartered                    20.018
67                     United Overseas Bank                    18.843
68                                QNB Group                    18.002
69                              Bank Rakyat                    17.745

[70 rows x 2 columns]

In [80]:
#Load phase started
log("Load phase Started")

In [81]:
# Calling the function
load(targetfile,transformed_data)

In [82]:
log("Load phase Started")